extends layout.pug

block scripts
  link(rel="stylesheet", href="../css/glide.core.min.css")
  link(rel="stylesheet", href="../css/glide.theme.min.css")
  link(rel="stylesheet", href="../css/subject.css")

block content
  .container#indexContainer
    h3.txt-lg= title
    hr
    .glide
      .glide__track(data-glide-el="track")
        ul.glide__slides
          each val in bookList
            li.glide__slide
              a(href="#")
                figure.effect-slidedown.half-down
                  img(src="http://covers.openlibrary.org/b/id/" + val.cover_id + "-" + "M" + ".jpg" alt= val.title width=130 height=200 loading="lazy")
                  figcaption
                    p.txt-sm= val.title
                //- http://covers.openlibrary.org/b/$key/$value-$size.jpg
      .glide__arrows(data-glide-el="controls")
        button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
        button.glide__arrow.glide__arrow--right(data-glide-dir=">") next
    h3.txt-md Related
    hr
    div.extraContent
      span.contentQuarter
        h6.txt-sm Subjects
        each val, index in bookListExtraDetails.subjects
          if index !== bookListExtraDetails.subjects.length - 1
            a(href= val.key) #{val.name}, 
          else
            a(href= val.key)= val.name
      span.contentQuarter
        h6.txt-sm Places
        each val, index in bookListExtraDetails.places
          if index !== bookListExtraDetails.places.length - 1
            a(href= val.key)  #{val.name}, 
          else
            a(href= val.key)= val.name
      span.contentQuarter
        h6.txt-sm People
        each val, index in bookListExtraDetails.places
          if index !== bookListExtraDetails.places.length - 1
            a(href= val.key) #{val.name}, 
          else
            a(href= val.key)= val.name
      span.contentQuarter
        h6.txt-sm Times
        each val, index in bookListExtraDetails.places
          if index !== bookListExtraDetails.places.length - 1
            a(href= val.key) #{val.name}, 
          else
            a(href= val.key)= val.name


  script(src="../dist/slider.js" defer)